
<%# I am some comment! %>
<!-- Code for Layouts -->
<!-- <link rel="stylesheet" href="/css/home.css">-->

<div id="main-container" class="table-container">
    <!-- Authenticate if user is loged in  -->
    
<% if (locals.employee){ %>
  
<% if (locals.students){ %>
  <div class="heading-container">
    <h2>Student List</h2>
    <div class="anchor-container anchor-container-dark">
      <a href="/student/render-csv-data">Download Student Data</a>
    </div>
    
  </div>
 
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>College</th>
            <th>Status</th>
            <th>React Score</th>
            <th>Web Development Score</th>
            <th>DSA Score</th>
            <th>Batch</th>
            <th>Interviews</th>
          </tr>
        </thead>
        <tbody>
        <% for(let student of students){  %>
        
         
          <!-- Replace with dynamic student data from your server/database -->
          <tr>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.collage %></td>
            <td><%= student.status %></td>
            <td><%= student.reactScore %></td>
            <td><%= student.webDevelopmentScore %></td>
            <td><%= student.dsaScore %></td>
            <td>
                <%= student.batch ? student.batch.name : 'NA'  %></td>
            <td >
              <div class="anchor-container anchor-container-light">
                <a href="/student/interview/<%=student._id%>">View</a>

              </div>
            </td>
          </tr>
          <% } %>
          <!-- Add more rows for other students -->
        </tbody>
      </table>
<% }  %>

<% }else{  %>
    
<%}%>
</div>




