
<%# I am some comment! %>
<!-- Code for Layouts -->
<!-- <link rel="stylesheet" href="/css/home.css">-->
<link rel="stylesheet" href="/css/home.css"> 
<div id="main-container">
    <!-- Authenticate if user is loged in  -->
    <h1>Dashboard  %></h1>
    <td><%= locals.employee.toString() %></td>
<% if (locals.employee){ %>
  
<% if (locals.students){ %>

    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>College</th>
            <th>Status</th>
            <th>React Score</th>
            <th>Web Development Score</th>
            <th>DSA Score</th>
            <th>Batch</th>
            <th>Interviews</th>
          </tr>
        </thead>
        <tbody>
        <% for(let student of students){  %>
        
         
          <!-- Replace with dynamic student data from your server/database -->
          <tr>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.collage %></td>
            <td><%= student.status %></td>
            <td><%= student.reactScore %></td>
            <td><%= student.webDevelopmentScore %></td>
            <td><%= student.dsaScore %></td>
            <td>
                <%= student.batch %></td>
            <td>
                <a href="/student/interview/<%=student._id%>">View</a>
            </td>
          </tr>
          <% } %>
          <!-- Add more rows for other students -->
        </tbody>
      </table>
<% }  %>

<% }else{  %>
    
<%}%>
</div>




