<link rel="stylesheet" href="/css/student_interview.css">
<div class="student-interview-container">

  <% if (locals.student){ %>
    <% interviewResults = student.results %>
    <div class="heading-container table-heading-container" style="text-align: center; width: 100%;">
      <h2>
        Name : <span style="color: #0a58ca;;"><%= student.name %></span>
      </h2>
    </div>
    
    <div class="table-container student-interview-table-container">

      <div class="heading-container">
        <h3>Inteview List</h3>
      </div>

      <table>
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Date</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
  
          <% for(let interview of student.interviews){ %>
            <!-- Replace with dynamic interview data from your server/database -->
  
            <%const dateString=interview.date ; 
            const date=new Date(dateString); 
            const formattedDate=`${date.getFullYear()}-${(date.getMonth() +1).toString().padStart(2, '0' )}-${date.getDate().toString().padStart(2, '0' )}`; 
            
            let interviewStatus;
  
            for(let result of interviewResults){
              if(result.interview.toString() === interview._id.toString() ){
                interviewStatus = result.status;
              }
            }
  
              
            %>
  
  
              <tr>
                <td>
                  <%= interview.companyName %>
                </td>
                <td>
                  <%= formattedDate %>
                </td>
                <td>
                  <%= interviewStatus %>
                </td>
              </tr>
              <% } %>
                <!-- Add more rows for other interviews -->
        </tbody>
      </table>
    </div>
    
    
    <div class="form-container">
      <form class="form" action="/student/schedule-interview/<%= student._id %>" method="POST">
        <!-- Replace ":studentId" with the actual student's ID -->

        <select class="result-select" id="interview" name="interviewId" required>
          <option value="" disabled selected>Select an interview</option>

          <% for(let interview of locals.interviews){ %>
            <!-- Replace with dynamically generated options from your server -->
            <option value="<%= interview._id %>">
              <%= interview.companyName %>
            </option>
            <% } %>
              <!-- Add more options as needed -->
        </select>
        <div class="form-button-container">
          <div class='btn-light'><button type="submit">Schedule</button></div>
      </div>
      </form>
    </div>

    <% } %>
</div>