<link rel="stylesheet" href="/css/student_interview.css">
<div class="student-interview-container">

  <% if (locals.student){ %>
    <h1>
      <%= student.name %>
    </h1>

    <table>
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Date</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>

        <% for(let interview of student.interviews){ %>
          <!-- Replace with dynamic interview data from your server/database -->

          <%const dateString=interview.date ; 
          const date=new Date(dateString); 
          const formattedDate=`${date.getFullYear()}-${(date.getMonth() +1).toString().padStart(2, '0' )}-${date.getDate().toString().padStart(2, '0' )}`; 
          
          const tempData = interview.toString();
          %>


            <tr>
              <td>
                <%= interview.companyName %>
              </td>
              <td>
                <%= formattedDate %>
              </td>
              <td>
                <%= tempData %>
              </td>
              <td><a href="/result?id=resultId1">Result 1</a></td>
            </tr>
            <% } %>
              <!-- Add more rows for other interviews -->
      </tbody>
    </table>

    <div>
      <h1>Add Interview to Student</h1>
      <form action="/student/schedule-interview/<%= student._id %>" method="POST">
        <!-- Replace ":studentId" with the actual student's ID -->

        <label for="interview">Select Interview:</label>
        <select id="interview" name="interviewId" required>
          <option value="" disabled selected>Select an interview</option>

          <% for(let interview of locals.interviews){ %>
            <!-- Replace with dynamically generated options from your server -->
            <option value="<%= interview._id %>">
              <%= interview.companyName %>
            </option>
            <% } %>
              <!-- Add more options as needed -->
        </select><br><br>

        <button type="submit">Schedule Interview</button>
      </form>
    </div>

    <% } %>
</div>